DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_COMMAND_SCOPE=auto
BOT_OWNER_ID=
GOOGLE_API_KEY=
GENIUS_CLIENT_ID=
GENIUS_CLIENT_SECRET=
DATA_DIR=./data
BOT_ENV_FILE=
YTDLP_AUTO_DOWNLOAD=false
YTDLP_PATH=
LOG_LEVEL=INFO
