DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
GOOGLE_API_KEY=
RIOT_API_KEY=
GENIUS_ACCESS_TOKEN=
GENIUS_CLIENT_ID=
GENIUS_CLIENT_SECRET=
NODE_ENV=development
LOG_LEVEL=INFO
DOCKER_IMAGE=yourdockerhubuser/lolbot
